__pycache__
*.pyc
/*.txt

codeformer/inputs/**
codeformer/weights/CodeFormer/**
codeformer/weights/facelib/**
model/**
output/**
!codeformer/inputs/.input.images.here
!codeformer/weights/CodeFormer/.codeformer.models.here
!codeformer/weights/facelib/.facelib.models.here
!output/.output.images.here
!model/.brogan.model.here
