__pycache__
*.pyc
*.ipynb

_notes_n_stuff
.aider*
pickle_path_converter.py
build_torch_plugins.py


cuda_plugins/**
codeformer/inputs/**
codeformer/weights/**
models/codeformer/**
models/facelib/**
models/gan/**
outputs/**

!cuda_plugins/__init__.py
!models/.various.models.and.weights
!models/codeformer/.codeformer.models
!models/facelib/.facelib.models
!models/gan/.gan.models
!output/.output.images.here
